*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:"Inter", sans-serif;

    background:#111111;

    color:#f5f5f5;
}

nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 48px;

    background:#181818;

    border-bottom:1px solid #2a2a2a;

}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
a{
    text-decoration: none;
    color: white;
}
button{

    padding:10px 18px;

    border:none;

    border-radius:8px;

    background:#2b2b2b;

    color:white;

    cursor:pointer;

    transition:.2s;

}
.hero{
    text-align: center;
    padding: 100px 20px;
}
.hero h1{
    font-size: 48px;
    margin-bottom: 20px;
    max-width: 700px;
    margin: 0 auto 20px;
}
.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}
.features {
    padding: 80px 40px;
}

.feature-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.feature-card{
    background:#1b1b1b;

    border:1px solid #2f2f2f;

    border-radius:14px;

    padding:30px;

    width:300px;

    transition:.2s;
}
.feature-card h3 {
    margin-bottom: 10px;
}
.working{
    padding: 80px 40px;
}

.working-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.working-card{
    background:#1b1b1b;

    border:1px solid #2f2f2f;

    border-radius:14px;

    padding:30px;

    width:300px;

    transition:.2s;
}
.working-card h3 {
    margin-bottom: 25px;
    text-align: center;
}
.working-card p{
    text-align: center;
}
.testimonial{
    padding: 80px 40px;
}

.testimonial-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-style: italic;
}
.testimonial-card{
     background:#1b1b1b;

    border:1px solid #2f2f2f;

    border-radius:14px;

    padding:30px;

    width:300px;

    transition:.2s;
}
.testimonial-card h4{
    text-align: end;
    margin-top: 30px;
}
.cta{

    border-top:1px solid #2a2a2a;

    padding:80px 40px;

    text-align:center;

}

.footer{

    padding:30px;

    text-align:center;

    background:#181818;

    border-top:1px solid #2a2a2a;

    color:white;

    font-size:14px;

}
button:hover{

    background:#3a3a3a;

}
.nav-container {
    display: flex;
    gap: 10px;
}
.working-card p:first-of-type {
    font-weight: bold;
    margin-bottom: 10px;
}

.feature-card:hover,
.working-card:hover,
.testimonial-card:hover{

    border-color:#3a3a3a;

}

.features h2,
.working h2,
.testimonial h2,
.cta h2{

    text-align:center;

    margin-bottom:50px;

    font-size:2rem;

    font-weight:700;

}

