*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}
.signup{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-container{
    border: 1px solid black;
    padding: 20px;
    width: 350px;
}
.signup-container h1{
    text-align: center;
    margin-bottom:20px;
    font-size: 32px;
}
.signup-container h2{
    text-align: center;
    margin-bottom:20px;
}
form{
    display: flex;
    gap: 15px;
    flex-direction: column;
}
input{
    border: 1px solid black;
    padding: 12px;
    width: 100%;
}
button{
    padding: 12px;
    border: 1px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
}
form p{
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
button:hover{
    background-color: white;
    color: black;
}